assets/
datasets/
cuda_11.8.0_520.61.05_linux.run

**/__pycache__/
*.pyc
*.pyo

submodules/diff-gaussian-rasterization/build/
submodules/diff-gaussian-rasterization/*.egg-info
submodules/diff-gaussian-rasterization/third_party/
submodules/diff-gaussian-rasterization/diff_gaussian_rasterization/_C*.so

.DS_Store

